{% extends 'base.html' %}
{% block title %}我的网站{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}<!-- 加载库-->
{% block header_extends %}<!-- 引用库-->
    <link rel="stylesheet"  href="{% static 'blog/blog.css'%}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10"><!-- 对应屏幕大小的边框长度 -->
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title%}博客列表(共{{ page_of_blogs.paginator.count }}篇){% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{blog.blog_type}}</a>
                                    <span class="glyphicon glyphicon-time"></span>{{ blog.created_time|date:"Y-m-d"}}<!--显示的图标-->
                                </p>    
                                <p>{{ blog.content|truncatechars:120 }}</p> <!--truncatechars 为字符截取-->
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>期待创作中</h3>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <div>
                    
                    <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}<!-- 判断是否有上一页 从而显示上一页按钮-->
                                <a href="?page={{ page_of_blogs.previous_page_number }}" >上一页
                                <!-- 显示'<<'图标按钮 
                                    aria-label="Next">
                                    <span aria-hidden="true">&laquo;</span>
                                -->
                                </a>
                            {% endif %}
                        </li>
                        
                        {% for page_num in page_of_blogs.paginator.page_range %}<!-- 全部页码-->
                            {% if page_num == page_of_blogs.number %}
                                <li class="active">
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>

                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        <li>
                            {% if page_of_blogs.has_next %}<!-- 判断是否有下一页 从而显示下一页按钮-->
                                
                                <a href="?page={{ page_of_blogs.next_page_number }}">下一页 

                                <!-- 显示'>>'图标按钮 
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                -->
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    
                </div>
            </div>
                        
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><a href="{%  url 'blogs_with_type' blog_type.pk  %}">
                                    {{ blog_type.type_name }}</a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




